body {
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #ccc;
}
#showcase {
    margin: 0;
    padding: 0;
    background: url("pexels-football-wife-1618200.jpg") no-repeat center/cover;
    width: 100%;
    height: 100vh; /*viewport*/
    position: relative; /*relaive position means the image should not from the place*/
    overflow-y: hidden; /*It mixes with the backgotund there is no difference between in the image and background:*/
}
#showcase .container {
    margin-top:  25vw;
}
#showcase h1 {
    font-size: 4rem; /*root element*/
    margin-bottom: 0;
}
#showcase h2 {
    font-size: 2rem; /*root element*/
}

/*Navigation*/

nav {
    height: 40px;
    width: 100%;
    background-color: #333333;
    color: rgb(51,34,34);
    position: fixed;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0; /*top-bottom / left-right*/
    color: #eee;
}

nav li:hover {
    background-color: #444444;
}
.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}
.lead {
    font-size: 1.3rem;
}

/*Footer Section*/

footer .footer-cols {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}

footer .footer-cols ul {
    list-style: none;
}
footer .footer-cols ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
}
footer .footer-bottom {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}